@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#8C4141;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
}

*{
   font-family: 'Times New Roman', Times, serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

html::-webkit-scrollbar-track{
   background-color: transparent;
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

body{
   background-color: var(--light-bg);
}

body.dark{
   --light-color:#aaa;
   --light-bg:#333;
   --black:#fff;
   --white:#222;
   --border:.1rem solid rgba(255,255,255,.2);
}

body.active{
   padding-left: 0;
}

section{
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
}

.header{
   position: sticky;
   top:0; left:0; right: 0;
   background-color: var(--white);
   z-index: 1000;
   border-bottom: var(--border);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .icons div{
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}

.form-container{
   min-height: calc(100vh - 20rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   background-color: var(--white);
   border-radius: .75rem;
   padding: 2rem;
   width: 35rem;
   align-items: center;
}

.form-container form h3{
   font-size: 2.5rem;
   text-transform: capitalize;
   color: var(--black);
   text-align: center;
}

.form-container form p{
   font-size: 1.4rem;
   color: var(--light-color);
   padding-top: 1rem;
}

.form-container form p a{
   font-size: 1.4rem;
   color: var(--black);
}

.form-container form .box{
   position: relative;
   display: flex;
   flex-wrap: wrap;
   font-size: 1.4rem;
   color: var(--black);
   border-radius: .75rem;
   padding: 1.4rem;
   background-color: var(--light-bg);
   width: 100%;
   height: 35px;
}

.box::placeholder{
   color:var(--black);
}

.login{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px 0;
}

.form-field{
   position: relative;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: 50px;
   margin: 10px 0;
}

.form-field input{
   width: 100%;
   height: 100%;
   outline: none;
   border: 2px solid var(--black);
   border-radius: 40px;
   font-size: 16px;
   color: var(--black);
}

.form-field i{
   position: absolute;
   right: .01px;
   top: 15%;
   transform: translate(-50%);
   font-size: 20px;  
   align-items: center;
   color: var(--black);
}

.login .remember-forgot{
   display: flex;
   justify-content: space-between;
   font-size: 14.5px;
   margin: 7px 0;
}

.remember-forgot label input{
   accent-color: var(--black);;
   margin-right: 3px;  
}

.remember-forgot label{
   color: var(--black);
}

.remember-forgot a{
   color: var(--black); 
   margin-left: 10rem; 
}

.login .register-link{
   margin-top: 10px;  
}

.remember-forgot a:hover{
   text-decoration: underline;
}

.login .login-button{
   width: 20%;
   height: 30px;
   text-align: center;
   align-items: center;
   color: var(--black);
   background-color: var(--light-bg);
   border-radius: 12px;
   border: 2px solid var(--black);
   margin-top: 10px;
}

.login .login-button:hover{
   background-color: var(--black);
   color: var(--white);
}

@media (max-width:1200px){

   body{
      padding-left: 0;
   }
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
}