@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#8C4141;
   --red:#e74c3c;
   --orange:#f39c12;
   --light-color:#888;
   --light-bg:#eee;
   --black:#2c3e50;
   --white:#fff;
   --border:.1rem solid rgba(0,0,0,.2);
}

*{
   font-family: 'Times New Roman', Times, serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color: var(--white);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

html::-webkit-scrollbar-track{
   background-color: transparent;
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
   border-radius: 12px;
}

body{
   background-color: var(--light-bg);
   padding-left: 20.79rem;
}

body.dark{
   --light-color:#aaa;
   --light-bg:#333;
   --black:#fff;
   --white:#222;
   --border:.1rem solid rgba(255,255,255,.2);
}

body.active{
   padding-left: 0;
}

section{
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
}

.header{
   position: sticky;
   top:0; left:0; right: 0;
   background-color: var(--white);
   z-index: 1000;
   border-bottom: var(--border);
   border-radius: 12px;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .search-form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.5rem 2rem;
   display: flex;
   gap:2rem;

}

.header .flex .search-form input{
   width: 100%;
   font-size: 1.8rem;
   color:var(--black);
   background:none;
}

.header .flex .search-form button{
   background:none;
   font-size: 2rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .search-form button:hover{
   color: var(--main-color);
}

.header .flex .icons div{
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}

.header .flex .profile{
   position: absolute;
   top:120%; right: 2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 1.5rem;
   text-align: center;
   overflow: hidden;
   transform-origin: top right;
   transform: scale(0);
   transition: .2s linear;
   width: 30rem;
}

.header .flex .profile.active{
   transform: scale(1);
}

.header .flex .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.header .flex .profile .name{
   font-size: 1.5rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.header .flex .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}

#search-btn{
   display: none;
}

.side-bar{
   position: fixed;
   top: 0; left: 0;
   width: 20rem;
   background-color: var(--white);
   height: 100vh;
   border-right: var(--border);
   z-index: 1200;
   border-radius: 12px;
   margin-left: 5px;
}

.side-bar #close-btn{
   text-align: right;
   padding: 2rem;
   display: none;
}

.side-bar #close-btn i{
   text-align: right;
   font-size: 2.5rem;
   background:var(--red);
   border-radius: .5rem;
   color:var(--white);
   cursor: pointer;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   text-align: center;
}

.side-bar #close-btn i:hover{
   background-color: var(--black);
}

.side-bar .profile{
   padding:1rem;
   text-align: center;
}

.side-bar .profile .image{
   height: 8rem;
   width: 8rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.side-bar .profile .name{
   font-size: 1.5rem;
   color:var(--black);
   overflow: hidden;
   white-space: nowrap;
}

.side-bar .profile .role{
   font-size: 1.3rem;
   color: var(--light-color);
   margin-top: 5px;
}

.side-bar .navbar a{
   padding: 1.5rem;
   font-size: 1.4rem;
   flex-direction: column;
   display: flex;
   margin-bottom: 5px;
}

.side-bar .navbar a i{
   color:var(--main-color);
   transition: .2s linear;
   text-align: center;
}

.side-bar .navbar a span{
   color:var(--light-color);
   text-align: center;
}


.side-bar .navbar a:hover{
   background-color: var(--light-bg);
}

.side-bar.active{
   left: -30rem;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.option-btn{
   border-radius: .5rem;
   color: var(--white);
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 3rem;
   text-align: center;
   margin-top: 1rem;
}

.delete-btn,
.btn{
   border-radius: 12px;
   color: var(--white);
   font-size: 1.4rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:.5rem;
   text-align: center;
   margin-top: 1rem;
}

.btn{
   display: block;
   width: 100%;
}

.delete-btn{
    margin: auto;
    display: block;
}

.inline-btn,
.become-tutor,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.delete-btn,
.btn,
.become-tutor,
.inline-btn{
   background-color: var(--main-color);
}

.inline-delete-btn{
   background-color: var(--red);
}

.delete-btn,
.inline-btn:hover,
.become-tutor:hover,
.btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);
}

.flex-btn{
   display: flex;
   gap: 1rem;
}

.top-section {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 1.5rem;
   border-bottom: var(--border);
   margin-bottom: 2.5rem;
   width: 100%;
}

.heading {
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
}

.right-content {
   display: flex;
   align-items: center;
   gap: 1rem; 
}

.search-tutor {
   border-radius: 12px;
   background-color: var(--white);
   padding: 1rem 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
   width: 66%;
}

.become-tutor{
   border-radius: 12px;
   color: var(--white);
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 1rem;
   text-align: center;
   margin-left: auto;
}

.tutors .search-tutor input {
   width: 100%;
   background: none;
   font-size: 1.8rem;
   color: var(--black);
}

.tutors .search-tutor button {
   font-size: 2rem;
   color: var(--black);
   cursor: pointer;
   background: none;
}

.tutors .search-tutor button:hover {
   color: var(--main-color);
}

.tutors .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.tutors .box-container .box{
   background-color: var(--white);
   border-radius: 12px;
   padding: 2rem;
}

.tutors .box-container .offer{
   text-align: center;
}

.tutors .box-container .offer h3{
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
   padding-bottom: .5rem;
}

.tutors .box-container .offer p{
   line-height: 1.7;
   padding: .5rem 0;
   color: var(--light-color);
   font-size: 1.7rem;
}

.tutors .box-container .box .tutor{
   display: flex;
   align-items: center;
   gap:2rem;
   margin-bottom: 1.5rem;
}

.tutors .box-container .box .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
}

.tutors .box-container .box .tutor h3{
   font-size: 1.5rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.tutors .box-container .box .tutor span{
   font-size: 1.6rem;
   color: var(--light-color);
}

.tutors .box-container .box p{
   padding: .5rem 0;
   font-size: 1.7rem;
   color: var(--light-color);
}

.tutors .box-container .box p span{
   color: var(--main-color);
}

.tutors .box-container .message{
   color: var(--black);
   font-size: 2rem;
}

table {
    border-collapse: collapse;
}
table thead{
    border-radius: 12px;
}

table thead tr {
    background: var(--black);
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: var(--white);
    font-size: 1.6rem;
    text-align: center;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: var(--black);
    text-align: center;
    font-size: 1.2rem;
}

table tbody td:first-child {
    padding-left: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: 1rem;
}

table tbody tr {
    border-bottom: 4px solid #dee2e8;
}

table tbody tr td button {
    background: var(--light-bg);
    color: var(--main-color);
    border-radius: 4px;
}

td button:hover {
    background: var(--main-color);
    color: #fff;
}

.popupBox{
    min-height: calc(100vh - 20rem);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .popupBox form{
    background-color: var(--white);
    border-radius: .75rem;
    padding: 2rem;
    width: 65rem;
    margin: auto;
 }
 
.popupBox form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    text-align: center;
}

.popupBox form h2{
    text-transform: capitalize;
    color: var(--black);
}

.popupBox form p{
    font-size: 1.7rem;
    color: var(--black);
    line-height: 1.7;
    text-align: center;
    margin-bottom: 1rem;
}
 
 .popupBox form p{
    font-size: 1.4rem;
    color: var(--light-color);
    padding-top: 1rem;
 }
 
 .popupBox form p a{
    font-size: 1.4rem;
    color: var(--black);
}
 
.closeButton {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: var(--black);
} 

.popupBox form .box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    color: var(--black);
    border-radius: .75rem;
    padding: 1.4rem;
    background-color: var(--light-bg);
    width: 100%;
    height: 35px;
}
 
.box::placeholder{
    color:var(--black);
}
 
.popupBox form .choose{
    color: var(--black);
    padding: 0.4rem 0.8rem;
    border-radius: .75rem;
    background-color: var(--light-bg);
    width: 100%;
    height: 35px;
    border: 2px solid var(--black);
}
 
.form-field input[type="file"] {  
    padding: 0.57rem 1rem;  
    cursor: pointer;  
}
 
.session{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
 
.form-field{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 50px;
    margin: 10px 0;
}
 
.form-field input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid var(--black);
    border-radius: 40px;
    font-size: 16px;
    color: var(--black);
}
 
.form-field i{
    position: absolute;
    right: .01px;
    top: 15%;
    transform: translate(-50%);
    font-size: 20px;  
    align-items: center;
    color: var(--black);
}
 
.session .edit-session{
    width: 20%;
    height: 30px;
    text-align: center;
    align-items: center;
    margin: auto;
    color: var(--black);
    background-color: var(--light-bg);
    border-radius: 12px;
    border: 2px solid var(--black);
}

.session .edit-session:hover{
    background-color: var(--black);
    color: var(--white);
}

@media (max-width:1200px){

   body{
      padding-left: 0;
   }

   .side-bar{
      left: -30rem;
      transition: .2s linear;
   }

   .side-bar #close-btn{
      display: block;
   }

   .side-bar.active{
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
      border-right: 0;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #search-btn{
      display: inline-block;
   }

   .header .flex .search-form{
      position: absolute;
      top: 99%; left: 0; right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      border-radius: 0;
      width: auto;
      padding: 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .search-form.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
      gap: 0;
      flex-flow: column;
   }

   .home-grid .box-container{
      grid-template-columns: 1fr;
   }

   .about .row .image img{
      height: 25rem;
   }

}